@(images: List[lila.image.Image], total: Int, page: Int, name: String)
<div style="margin-bottom: 10px">
	<input style="margin-bottom: 0px" type="text" class="search-image" value="@name">
	<button  class="btn back" type="submit" @if(page ==1){disabled}>&larr;</button>
	<span class="page">@page</span>/<span class="total">@total</span>
	<button  class="btn next" type="submit" @if(page == total){disabled}>&rarr;</button>
	<span class="slide_close" style="display:inline; float: right; cursor: pointer">Close</span>
</div>
<div>
@for(img <- images){
	<div class="img-container" style="display: inline-block; overflow: hidden">
		<img src="@routes.ImageCtrl.get("small", img.metadata.uuid)" alt="">
		<br/>
		<p class="uuid hide">@img.metadata.uuid</p>
		<p style="width: 180px; height: 35px; overflow: hidden">@img.filename</p>
	</div>
}
</div>