@(assetCDN: String => String,  map: String => String,  _sub: String = "", _kw: String = "", _sb: String = "", _li: Int = 12, _v: String = "")
<div class="header">
	<div class="h-top">
		<div class="hm-left">
		</div>
		<div class="hm-middle">
			<div class="hmm-left">
				<div class="hmml-top">
					<form class="search_bar" action="@if(_sub == ""){/tim-kiem.html} else {/san-pham/@_sub/list.html}" method="GET">
						<div class="search_dropdown">
							<span>@if( _sub==""  ){ All } else { @map(_sub)}</span>
							<ul class="select-search">
								<li @if( _sub==""){ class="selected" } value="">All</li>
								<li @if( _sub == "may-nap-adapter"){ class="selected"} value="may-nap-adapter">Máy Nạp & Adapter</li>
								<li @if( _sub == "board-phat-trien"){ class="selected"} value="board-phat-trien">Board Phát triển</li>
								<li @if( _sub == "sensor-transducer"){ class="selected"} value="sensor-transducer">Sensors, Transducers</li>
								<li @if( _sub == "memory-ic"){ class="selected"} value="memory-ic">Memory ICs</li>
								<li @if( _sub == "led"){ class="selected"} value="led">LEDs</li>
								<li @if( _sub == "lcd-display"){ class="selected"} value="lcd-display">LCDs Display</li>
							</ul>
						</div>
						<input type="text" name="_kw" value="@_kw"/>
						<button type="submit" value="Search">Search</button>
					</form>
				</div>
				<div class="hmml-bot">
					Ví dụ: Bộ Hẹn Giờ, Nguồn, Cảm Biến, WiFi, Bluetooth ...
				</div>
			</div>
			<div class="hmm-right">

			<div class="hmm-submenu">
				<span class="iconMenu ra-5 bo">&#9776; Menu</span>
				<div class="hmm-cart">
					<a  href="">
						<div class="cartWr ra-5">
							<span class="cart-icon"></span>
							<div class="cart-meta">
								<div class="cart-number">0</div>
								<div class="cart-name">Cart</div>
							</div>
						</div>
					</a>
				</div>


				<div class="hmm-user">
					<div class="userWr ra-5">
						<span class="user-icon"></span>
						<div class="user-meta">
							<span class="user-registor"><a href="">Đăng ký</a></span>
							<span class="user-login"><a href="">Đăng nhập</a></span>
						</div>
					</div>
				</div>

				<div class="hmm-phone">
					<div class="phoneWr ra-5">
						<span class="phone-icon"></span>
						<div class="phone-meta">
							<span class="phone-up">0978.715.123</span>
							<span class="phone-bot">01666.555.336</span>
						</div>
					</div>
				</div>

			</div>

			</div>

		</div>

	</div>


</div>

<div class="sub-nav sa">
	<div class="sn-left">
		<div class="nsl-t"></div>
		<div class="nsl-b">
		</div>
	</div>

	<div class="sn-right">
		<a href="#">Sản Phẩm Mới</a>
		<a href="#">Sản Phẩm Bán Chạy</a>
		<a href="#">Sản Phẩm Nổi Bật</a>
		<a href="#">Sản Phẩm Khuyến Mãi</a>
		<a href="#" class="f-r slh"  onclick="return false;">Liên hệ</a>
		<a href="#" class="f-r sol" style="float:right">Hướng dẫn mua hàng online</a>
	</div>
</div>