<meta name="viewport" content="width = device-width, initial-scale = 1.0">

<link rel="shortcut icon" type="image/png" href='@routes.Assets.at("favicon.png")'>
@cssTag("main.css")
<link rel="stylesheet" href='@routes.Assets.at("photoswipe/photoswipe.css")'>
<link rel="stylesheet" href='@routes.Assets.at("photoswipe/default-skin/default-skin.css")'>
@jsTag("big.js")

@*<link rel="stylesheet" href='@routes.Assets.versioned("slimbox/css/slimbox2.css")'>*@
@*<link rel="stylesheet" href='@routes.Assets.versioned("smoothstate/keyframes.css")'>*@
@*<link rel="stylesheet" href='@routes.Assets.versioned("smoothstate/pageTransitions.css")'>*@
@*<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/multizoom.css")'>*@
